@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pizza Paradise - For all yoyr Pizza Needs</h1>
    <p>We have lots of Pizzas on offer</p>
</div>

<div class="container">
    <div class="column">Fantastic Deals</div>
    <div class="column">Top Notch Food</div>
    <div class="column">Eat for Free</div>
</div>